<div class="toolbar">
    Search:<input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="name">漢字順</option>
        <option value="kana">カナ順</option>
    </select>

    <div ng-repeat="color in colors | filter:query | orderBy:orderProp" ng-controller="ColorListItemController"
         class="colorblock" style="background-color:{{color.color}};">
        <div class="colortitle"><a href="#/colors/{{color.id}}"> {{color.name}} {{color.kana}}</a></div>
        <!--<input type="button" ng-click="increment()" value="like"/>{{color.like}}-->
    </div>
</div>